In [83]:
import os
import time

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Inflation

In [84]:
df_infl = pd.read_csv("Inflation.csv", sep = ";")
df_infl.Date = pd.to_datetime(df_infl.Date, dayfirst = True)

print(df_infl)

          Date CH_infl       US_infl
0   2005-01-01    -0,5    0,21019443
1   2005-02-01     0,2   0,576822234
2   2005-03-01     0,2   0,782064651
3   2005-04-01     0,8   0,672529747
4   2005-05-01    -0,1  -0,102774923
..         ...     ...           ...
199 2021-08-01     0,2   0,032600374
200 2021-09-01     0,0   0,410850556
201 2021-10-01     0,3   0,866476548
202 2021-11-01     0,0   0,699229907
203 2021-12-01    -0,1    0,57517485

[204 rows x 3 columns]

### Short term interest rates

In [85]:
df_IR = pd.read_csv("ShortTerm.csv", sep = ";")
df_IR.Date = pd.to_datetime(df_IR.Date, dayfirst = True)
df_IR = df_IR.dropna(axis=0, how='all')
df_IR = df_IR.fillna(method="pad", limit=1)


print(df_IR)
print(f'Nb Nan: {df_IR.US_IR.isnull().sum()}')

           Date SARON_close US_IR
0    2005-01-03    0,588191  1,99
1    2005-01-04    0,616042  2,05
2    2005-01-05    0,696835  2,04
3    2005-01-06     0,76842  2,04
4    2005-01-07    0,672936  2,03
...         ...         ...   ...
4430 2021-12-27   -0,703335  0,04
4431 2021-12-28   -0,703774  0,03
4432 2021-12-29   -0,703104  0,01
4433 2021-12-30   -0,685636  0,06
4434 2021-12-31    -0,68483  0,06

[4435 rows x 3 columns]
Nb Nan: 0

### Exchange rates

In [86]:
df = pd.read_csv("CHF=X.csv")

#data cleaning & processing 
df.Date = pd.to_datetime(df.Date)
df = df.fillna(method="pad", limit=1)

print(df)

           Date      Open     High      Low     Close  Adj Close  Volume
0    2005-01-03  1.137800  1.15500  1.13740  1.147000   1.147000     0.0
1    2005-01-04  1.147100  1.17060  1.14430  1.167600   1.167600     0.0
2    2005-01-05  1.167600  1.17540  1.16550  1.166900   1.166900     0.0
3    2005-01-06  1.167200  1.17730  1.16670  1.174000   1.174000     0.0
4    2005-01-07  1.174000  1.18850  1.16760  1.184100   1.184100     0.0
...         ...       ...      ...      ...       ...        ...     ...
4430 2021-12-27  0.918774  0.91993  0.91710  0.918781   0.918781     0.0
4431 2021-12-28  0.916990  0.91888  0.91580  0.917160   0.917160     0.0
4432 2021-12-29  0.916900  0.91992  0.91265  0.916900   0.916900     0.0
4433 2021-12-30  0.913900  0.91804  0.91300  0.913600   0.913600     0.0
4434 2021-12-31  0.913900  0.91474  0.91047  0.913700   0.913700     0.0

[4435 rows x 7 columns]

### Concatenate

In [87]:
df_fin = pd.concat([df,df_IR.drop(labels = 'Date', axis = 1)], axis = 1)

print(df_fin)

           Date      Open     High      Low     Close  Adj Close  Volume  \
0    2005-01-03  1.137800  1.15500  1.13740  1.147000   1.147000     0.0
1    2005-01-04  1.147100  1.17060  1.14430  1.167600   1.167600     0.0
2    2005-01-05  1.167600  1.17540  1.16550  1.166900   1.166900     0.0
3    2005-01-06  1.167200  1.17730  1.16670  1.174000   1.174000     0.0
4    2005-01-07  1.174000  1.18850  1.16760  1.184100   1.184100     0.0
...         ...       ...      ...      ...       ...        ...     ...
4430 2021-12-27  0.918774  0.91993  0.91710  0.918781   0.918781     0.0
4431 2021-12-28  0.916990  0.91888  0.91580  0.917160   0.917160     0.0
4432 2021-12-29  0.916900  0.91992  0.91265  0.916900   0.916900     0.0
4433 2021-12-30  0.913900  0.91804  0.91300  0.913600   0.913600     0.0
4434 2021-12-31  0.913900  0.91474  0.91047  0.913700   0.913700     0.0

     SARON_close US_IR
0       0,588191  1,99
1       0,616042  2,05
2       0,696835  2,04
3        0,76842  2,04
4       0,672936  2,03
...          ...   ...
4430   -0,703335  0,04
4431   -0,703774  0,03
4432   -0,703104  0,01
4433   -0,685636  0,06
4434    -0,68483  0,06

[4435 rows x 9 columns]

In [102]:
# Add columns
df_fin["CH_infl"] = np.nan
df_fin["US_infl"] = np.nan

cur = 0
cur_month = [df_infl.Date[cur].month, df_infl.Date[cur].year]
for i, date in enumerate(df_fin.Date):
    if [date.month, date.year] == cur_month:
        df_fin.CH_infl[i] = df_infl.CH_infl[cur]
        df_fin.US_infl[i] = df_infl.US_infl[cur]
        cur = cur+1
        if cur >= df_infl.shape[0]:
            break
        cur_month = [df_infl.Date[cur].month, df_infl.Date[cur].year]
    

df_fin = df_fin.fillna(method="ffill")
print(df_fin.iloc[:40,:])

         Date    Open    High     Low   Close  Adj Close  Volume SARON_close  \
0  2005-01-03  1.1378  1.1550  1.1374  1.1470     1.1470     0.0    0,588191
1  2005-01-04  1.1471  1.1706  1.1443  1.1676     1.1676     0.0    0,616042
2  2005-01-05  1.1676  1.1754  1.1655  1.1669     1.1669     0.0    0,696835
3  2005-01-06  1.1672  1.1773  1.1667  1.1740     1.1740     0.0     0,76842
4  2005-01-07  1.1740  1.1885  1.1676  1.1841     1.1841     0.0    0,672936
5  2005-01-10  1.1837  1.1848  1.1785  1.1794     1.1794     0.0    0,674866
6  2005-01-11  1.1792  1.1837  1.1733  1.1824     1.1824     0.0    0,648851
7  2005-01-12  1.1825  1.1840  1.1629  1.1676     1.1676     0.0    0,733961
8  2005-01-13  1.1676  1.1739  1.1665  1.1721     1.1721     0.0    0,738232
9  2005-01-14  1.1720  1.1865  1.1720  1.1791     1.1791     0.0    0,694707
10 2005-01-17  1.1813  1.1848  1.1770  1.1845     1.1845     0.0     0,59171
11 2005-01-18  1.1845  1.1902  1.1806  1.1853     1.1853     0.0    0,242728
12 2005-01-19  1.1853  1.1895  1.1757  1.1851     1.1851     0.0    0,102421
13 2005-01-20  1.1853  1.1920  1.1832  1.1902     1.1902     0.0    0,580831
14 2005-01-21  1.1904  1.1962  1.1837  1.1854     1.1854     0.0    0,598649
15 2005-01-24  1.1860  1.1866  1.1791  1.1850     1.1850     0.0    0,676779
16 2005-01-25  1.1850  1.1965  1.1806  1.1934     1.1934     0.0    0,494427
17 2005-01-26  1.1934  1.1938  1.1811  1.1825     1.1825     0.0    0,448016
18 2005-01-27  1.1825  1.1879  1.1779  1.1843     1.1843     0.0    0,437884
19 2005-01-28  1.1844  1.1915  1.1822  1.1855     1.1855     0.0    0,414701
20 2005-01-31  1.1890  1.1940  1.1858  1.1878     1.1878     0.0    0,654176
21 2005-02-01  1.1877  1.1951  1.1872  1.1907     1.1907     0.0    0,669731
22 2005-02-02  1.1908  1.1954  1.1860  1.1930     1.1930     0.0    0,629928
23 2005-02-03  1.1929  1.2043  1.1927  1.2025     1.2025     0.0    0,563602
24 2005-02-04  1.2027  1.2132  1.1953  1.2132     1.2132     0.0    0,619888
25 2005-02-07  1.2120  1.2259  1.2114  1.2238     1.2238     0.0    0,661869
26 2005-02-08  1.2239  1.2249  1.2185  1.2210     1.2210     0.0    0,614977
27 2005-02-09  1.2209  1.2233  1.2149  1.2164     1.2164     0.0    0,511663
28 2005-02-10  1.2164  1.2234  1.2041  1.2074     1.2074     0.0    0,497193
29 2005-02-11  1.2074  1.2115  1.2061  1.2095     1.2095     0.0    0,468912
30 2005-02-14  1.2081  1.2083  1.1962  1.1979     1.1979     0.0    0,473938
31 2005-02-15  1.1979  1.1997  1.1878  1.1891     1.1891     0.0    0,512378
32 2005-02-16  1.1891  1.1943  1.1838  1.1880     1.1880     0.0    0,463627
33 2005-02-17  1.1881  1.1893  1.1812  1.1838     1.1838     0.0    0,482753
34 2005-02-18  1.1838  1.1890  1.1819  1.1832     1.1832     0.0    0,487894
35 2005-02-21  1.1828  1.1856  1.1805  1.1827     1.1827     0.0    0,582635
36 2005-02-22  1.1827  1.1837  1.1571  1.1587     1.1587     0.0    0,684674
37 2005-02-23  1.1591  1.1665  1.1579  1.1640     1.1640     0.0    0,576288
38 2005-02-24  1.1640  1.1712  1.1593  1.1699     1.1699     0.0    0,452254
39 2005-02-25  1.1698  1.1737  1.1610  1.1620     1.1620     0.0    0,486893

   US_IR CH_infl      US_infl
0   1,99    -0,5   0,21019443
1   2,05    -0,5   0,21019443
2   2,04    -0,5   0,21019443
3   2,04    -0,5   0,21019443
4   2,03    -0,5   0,21019443
5   2,07    -0,5   0,21019443
6   2,03    -0,5   0,21019443
7   2,01    -0,5   0,21019443
8   2,06    -0,5   0,21019443
9   2,06    -0,5   0,21019443
10  2,06    -0,5   0,21019443
11  2,05    -0,5   0,21019443
12  1,95    -0,5   0,21019443
13  1,89    -0,5   0,21019443
14  2,02    -0,5   0,21019443
15  2,05    -0,5   0,21019443
16  2,13    -0,5   0,21019443
17  2,16    -0,5   0,21019443
18  2,16    -0,5   0,21019443
19  2,12    -0,5   0,21019443
20  2,06    -0,5   0,21019443
21  2,23     0,2  0,576822234
22  2,22     0,2  0,576822234
23  2,18     0,2  0,576822234
24   2,2     0,2  0,576822234
25  2,27     0,2  0,576822234
26  2,34     0,2  0,576822234
27  2,34     0,2  0,576822234
28  2,35     0,2  0,576822234
29  2,36     0,2  0,576822234
30  2,37     0,2  0,576822234
31   2,4     0,2  0,576822234
32  2,39     0,2  0,576822234
33   2,4     0,2  0,576822234
34  2,39     0,2  0,576822234
35  2,39     0,2  0,576822234
36  2,43     0,2  0,576822234
37  2,47     0,2  0,576822234
38  2,48     0,2  0,576822234
39   2,5     0,2  0,576822234

C:\Users\franc\AppData\Local\Temp\ipykernel_17284\1291184814.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin.CH_infl[i] = df_infl.CH_infl[cur]
C:\Users\franc\AppData\Local\Temp\ipykernel_17284\1291184814.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fin.US_infl[i] = df_infl.US_infl[cur]

In [105]:
df_fin.to_csv("dataset.csv", index = False)